.cardItem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    padding: 50px;
}
.cardItem h2{
    font-size: 32px;
}
.cardItems{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    padding-top: 50px;
}